body {
    font-family: Arial, sans-serif;
    background-color: khaki
  }
  header {
    background-color: black;
    padding: 20px;
    text-align: center;
  }
 h1, h2 {
            color: brown;
            text-align: left;
            font-size: 36px;
        }
p{
    text-align: left;
    font-style: italic;
    font-weight: 400;
    

}
hr {
    border: 2px dashed #666;
    border-color: blueviolet;
    height: auto;
    background-color: black;
  }
  .emphasis {
    font-style: italic; 
  }
  
  .strong {
    font-weight: bold; 
  }
  .highlight {
    background-color: #ffff00; 
    padding: 10px; 
    max-width: 700px; 
  }